@import "../../Design/CSS/common.css";

.closeButtonContainer{
    width: var(--buttonContainerWidth);
    height: var(--buttonContainerHeight);
 
}
.closeButton{
    width: var(--buttonContainerWidth);
    height: var(--buttonContainerHeight);
    cursor: pointer;
    position: absolute;
    transition: box-shadow 0.5s;
}
.closeButtonBar{
    position: absolute;
    left: var(--buttonBarLeft);
    top: var(--buttonBarTop);
    width: var(--buttonBarWidth);
    height: var(--buttonBarHeight);
    background-color: var(--buttonColor);
    border-radius: var(--buttonRadius);
    margin: auto;
}
.closeButton:hover {
    box-shadow: 0px 0px 4px 1px var(--buttonContainerShadow);
    
}

.closeButtonBar.closeButtonBar1{
    transform: rotate(45deg);
}
.closeButtonBar.closeButtonBar2{
    transform: rotate(-45deg);
}