#headerSearch{
    width: var(--headerSearchWidth);
    height: var(--headerModuleHeight);
}
.headerSearchContainer{
    width: 100%;
    height: 100%;
}

/*Closed*/
.headerSearchCallSearchButton{
    float: right;
    width: 50px;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerSearchButtonContainer{
    width: 80%;
    height: 80%;
    transition: background-color 0.2s ease-in-out;
}

.headerSearchButtonContainer:hover{
    box-sizing: border-box;
    background-color: var(--boxHighrigthColor);
}

.headerSearchButtonIcon{
    width: 100%;
    height: 100%;
}

/*Open*/

#headerSearchBox{
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.headerSearchBoxContainer{
    position: fixed;
    width: var(--headerSearchBoxContainerWidth);
    left: var(--headerSearchBoxContainerLeft);
    height: 50vh;
    border: var(--tb);
    background-color: var(--modalBaseColor);
    z-index: var(--modalIndex);
    animation: slideDown 0.5s ease-in-out;
}
.headerSearchBoxBackground{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modalBackgroundColor) ;
    opacity: 0.5;
    z-index: var(--modalBackgroundIndex);
}
.headerSearchBoxContentsContainer{
    width: 100%;
    height: calc(100% - var(--headerHeight));
    display: flex;
    flex-direction: column;
}

.headerSearchBoxMenuContainer{
    width: 100%;
    height: var(--headerHeight);
    border: var(--tb);
}
.headerSearchBoxMenuButtonContainer{
    float: right;
    width: var(--buttonSize);
    height: var(--buttonSize);
    cursor: pointer;
}
.headerSearchBoxMenuCloseButton{
    width: var(--buttonSize);
    height: var(--buttonSize);
    border: var(--tb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headerSearchBoxMenuButtonBar1{
    width: var(--buttonBarWidth);
    height: var(--buttonBarHeight);
    background-color: #222831;
}

.headerSearchBoxFilterContainer{
    width: 100%;
    height: var(--headerSearchBoxFilterContainerHeight);
}

.headerSearchInputContainer{
    width: 100%;
    height: 10%;
    border: var(--tb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBarContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerSearchFilterContainer{
    width: 100%;
    height: 90%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.headerSearchFilterBox{
    width: 90%;
    padding: 0 2.5%;
    height: 90%;
    display: flex;
    align-items: center;
    gap: 5%;
}
.headerSearchFilter{
    width: 100%;
    height: 90%;
    margin: 0%;
    box-sizing: border-box;
    background-color: var(--boxHighrigthColor);
    border-radius: 2%;
    display: flex;
    justify-content: center;
}

