#aside{
    position: fixed;
    left: var(--asideLeft);
    top: var(--asideTop);
    width: var(--asideWidth);
    height: var(--asideHeight);
    border: var(--tb);
    background-color: var(--boxColor);
}