body{
    margin: 0;
      padding: 0;
      height: 100vh; /* 100% 높이 설정 */
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0; /* 원하는 배경색으로 설정 */
}
#root{
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}