#section{
    position: absolute;
    width: var(--sectionWidth);
    margin-top: var(--tagSpace);
    margin-right: var(--tagSpace);
    min-height: var(--sectionMinHeight);
    top: var(--sectionTop);
    background-color: var(--boxColor);
    border: var(--tb);
}